/* CSS Document */

body {font-family: proxima-nova, "Helvetica Neue",verdana,Georgia,Arial, "Times New Roman", Times, serif,Arial,sans-serif; font-size:12px;	margin:0 0 10px 0; color:#000}
@font-face {
  font-family: 'FontAwesome';
  src: url('font/fontawesome-webfont.eot?v=3.0.1');
  src: url('font/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('font/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    url('font/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.report{font-size:11px; width:800px; margin:auto;}
.report h3{ text-align:center; font-size:25px;}
.report .reportname{ font-size:18px; text-align:center; text-transform:uppercase; margin-bottom:10px;}
.report table td{ font-size:13px;}
.report table th{ background-color:#CCC;}